<!doctype html>

<html>
<head>
<meta charset="UTF-8" />
</head>


<body style="font-family: Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-shadow: 1px 1px 1px rgba(0,0,0,0.004);">
   <div style="background-color:#F2F2F2;min-height: 800px !important;width: 100%!important;padding:10px;">    
     <div style="width:600px; min-height: inherit; margin:0 auto;background-color:#FFF;box-shadow:3px 6px 6px -6px #666; position: relative;">
     
      <p style="text-align:center;padding: 10px 0px 0px 0px;margin: 0;">
       <a href="http://www.yamibuy.com">
        <img src="http://cdn.yamibuy.com/images/cn/index/logo.png" width="250" height="60" alt="" />
       </a>
      </p>
      
      <div style="margin-top:15px;">
       <div>
        <div style="padding-bottom:3px;margin:0 30px;border-bottom:3px solid #333;">
         <table width="100%">
          <tr>
           <td>
             <ul style="margin:0;overflow:hidden;padding: 0 0 0 40px;">
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">Home</a>
              </li>
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">Snack</a>
              </li>          
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">beauty</a>
              </li>
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">life</a>
              </li>
              <li style="float:left;list-style:none;font-size:12px;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">sale</a>
              </li>
             </ul>
            </td>
            <td align="right">
             <p style="margin:0;font-weight:bold;font-size:12px;">Free shippping over $49</p>
            </td>
           </tr>
          </table>    
        </div>
       </div>
      </div>
      
      <div style="background-image: url('http://cdn.yamibuy.com/images/common/email-inv-friends-bg.jpg');background-size: 100% 100%; height: 300px; width: 500px;margin: 30px auto; padding: 20px; box-sizing: border-box;">
        <div style="width: 100%; height: 100%;background-color: #fff; padding: 20px 20px 0; box-sizing: border-box;">
          <h2 style="margin: 0; text-align: center; font-size: 16px; line-height: 2em;">你的朋友邀请你去<a href="http://yamibuy.com" style="color: #F25950; text-decoration: none;">亚米网</a>逛逛</h2>
          <p style="font-size: 12px; line-height: 2em;">我刚发现亚米网是一个亚洲商品齐全的购物网站。在亚米网，我可以找到最IN的亚洲食品，美妆保养，电器百货。足不出户就可以挑选到自己喜爱的物品，给生活在北美的我们带来了极大的便利。网站购物满$49就包邮,还有更多优惠专属给会员。我现在与你分享，快来注册吧!</p>
          <a th:href="${register_url}" style="background-color: #ffa100; color: #fff; line-height: 2.5em; text-align: center; width: 8em; display: block; text-decoration: none; font-size: 14px; font-weight: bold; margin: 20px auto 0;">现在注册</a>
        </div>
      </div>

      <!-- <table>
           <tr>
            <td colspan="2">
             <table width="600" background-image: url("http://cdn.yamibuy.com/images/common/email-inv-friends-bg.jpg");>
              <tr>
               <td align="center"><img src="http://cdn.yamibuy.com/themes/default/images/hithere.png" style="margin-top:20px" />
               </td>
              </tr>
              <tr>
               <td align="center"><p style="font-size:12px">wdwwjwjwjwj</p>
               </td>
              </tr>
              <tr>
               <td align="center">
                <p style="margin-top:10px;color:#666;font-weight:700;line-height:20px;font-size:12px;"><a href="" style="color:#ED1C24;"></a></p>
               </td>
              </tr>
              <tr>
               <td align="center">
               <a style="text-decoration:none" href="https://www.yamibuy.com/cn/login.php?invite_code = lnswvfrI">
                <div style="background:url(http://cdn.yamibuy.com/themes/default/images/email_btn_bg.png) no-repeat center;width:144px;height:35px;cursor:pointer;margin-top:20px">
                 <p style="color:#FFF;line-height:32px;font-size:14px;font-weight:700">现在注册</p>
                </div> 
               </a>               
               </td>
              </tr>
                
             </table>
            </td>
           </tr> 
   </table>  -->       
           
  <!--footer-->
  <div style="width: 100%; background-color:#F25950;padding:20px;margin-top:30px; position: absolute; bottom: 0;box-sizing: border-box;">
   <table width="100%">
    <tr>
     <td>
      <div style="margin-left:50px">
       <img src="http://cdn.yamibuy.com/images/cn/index/logo-small-ww.png" width="100" />
      </div> 

     </td>
     <td>
      <p style="color:#FFF;margin:0 0 0 100px;font-size:12px;">For any question please call or email</p>
      <p style="color:#FFF;margin:0 0 0 100px;font-size:12px;">800-407-9710</p>
      <p style="color:#FFF;margin:0 0 0 100px;font-size:12px;">customerservice@yamibuy.com</p>
     </td>
    </tr>  
   </table>
  </div>
 </div>
</div>  
</body>
</html>