<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
</head>


<body>
   <div style="background-color:#F2F2F2;min-height: 100%!important;width: 100%!important;padding:10px;">    
     <div style="width:600px;margin:0 auto;background-color:#FFF;box-shadow:3px 6px 6px -6px #666;">
     
      <p style="text-align:center;padding: 10px 0px 0px 0px;margin: 0;">
       <a href="http://www.yamibuy.com">
        <img src="http://cdn.yamibuy.com/images/cn/index/logo.png" width="250" height="60" alt=""/>
       </a>
      </p>
      
      <div style="margin-top:15px;">
       <div>
        <div style="padding-bottom:3px;margin:0 30px;border-bottom:3px solid #333;">
         <table width="100%">
          <tr>
           <td>
             <ul style="margin:0;overflow:hidden;padding: 0 0 0 40px;">
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">Home</a>
              </li>
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">Snack</a>
              </li>          
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">Beauty</a>
              </li>
              <li style="float:left;list-style:none;font-size:12px;border-right:1px solid #000;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">Life</a>
              </li>
              <li style="float:left;list-style:none;font-size:12px;padding:0 14px;">
               <a href="http://www.yamibuy.com" style="color:#000;text-decoration:none;">Sale</a>
              </li>
             </ul>
            </td>
            <td align="right">
             <p style="margin:0;font-weight:bold;font-size:12px;">Free shippping over $49</p>
            </td>
           </tr>
          </table>    
        </div>
       </div>
      </div>
         
      <table>      
        <tr>
         <td style="padding:30px 10px 10px 20px" rowspan="2">
          <a href="http://www.yamibuy.com">
                           
           <img src="http://cdn.yamibuy.com/themes/default/images/email_welcome1.jpg"/>
           
          </a>
         </td>
         <td style="padding:30px 20px 10px 0">
          <a href="http://www.yamibuy.com">
                        
           <img src="http://cdn.yamibuy.com/themes/default/images/email_welcome2.jpg"/>
           
          </a>
         </td>
        </tr>
        <tr>
         <td style="padding:0px 20px 10px 0">
          <a href="http://www.yamibuy.com">
                     <img src="http://cdn.yamibuy.com/themes/default/images/email_welcome3.jpg"/>
           
          </a>
         </td>
        </tr>
        <tr>
         <td style="padding:10px 20px 20px 20px" colspan="2">
          <table>
           <tr>
            <td>
             <a href="http://www.yamibuy.com">
                           <img src="http://cdn.yamibuy.com/themes/default/images/email_welcome4.jpg"/>
                          </a>
            </td>
            <td>
             <a href="http://www.yamibuy.com">
              <img src="http://cdn.yamibuy.com/themes/default/images/email_welcome5.jpg"/>
             </a>
            </td> 
           </tr>
          </table>   
         </td>
        </tr>
  </table>         
           
  
  <div style="background-color:#F25950;padding:20px;margin-top:30px;">
   <table width="100%">
    <tr>
     <td>
      <div style="margin-left:50px">
       <img src="http://cdn.yamibuy.com/images/cn/index/logo-small-ww.png" width="100"/>
      </div> 
     </td>
     <td>
      <p style="color:#FFF;margin:0 0 0 100px;font-size:12px;">For any question please call or email</p>
      <p style="color:#FFF;margin:0 0 0 100px;font-size:12px;">Call <a 
style="color:#FFF;text-decoration:none;">800-407-9710</a></p>
      <p style="color:#FFF;margin:0 0 0 100px;font-size:12px;">Email <a 
style="color:#FFF;text-decoration:none;">customerservice@yamibuy.com</a></p>
     </td>
    </tr>  
   </table>
  </div>
 </div>
</div>  
</body>
</html>
